<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="returnHome()">
        <ion-icon class="menu" name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <img class="logo" src="../../../assets/images/logo.png" alt="logo">
  </ion-toolbar>
  <div class="titre">
    Commissions
  </div>
</ion-header>

<ion-content>
  <ion-row class="header">
    <ion-col>
      <ion-label>Date</ion-label>
    </ion-col>
    <ion-col>
      <ion-label>Type</ion-label>
    </ion-col>
    <ion-col>
      <ion-label>Montant</ion-label>
    </ion-col>
    <ion-col>
      <ion-label>Comm.</ion-label>
    </ion-col>
  </ion-row>

  <ion-content class="liste">
    <ion-row class="myRow">
      <ion-col class="col" size="3">
        <p *ngFor="let i of stores">{{i.date}}</p>
      </ion-col>
      <ion-col class="col" >
        <p *ngFor="let i of stores">{{i[0].type}}</p>
      </ion-col>
      <ion-col class="col">
        <p *ngFor="let i of stores">{{i.montant}}</p>
      </ion-col>
      <ion-col class="col">
        <p *ngFor="let i of stores">{{i.comm}}</p>
      </ion-col>
    </ion-row>
    <ion-infinite-scroll (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content  loadingSpinner="bubbles">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
  <div class="somm">
    <ion-row>
      <ion-col class="total" size="5">Total</ion-col>
      <ion-col>{{montant}}</ion-col>
    </ion-row>
  </div>
</ion-content>
